<section class="wrapper--footer--section">
  <div class="wrapper--footer container">
    <footer>
      <div class="footer--info--main">
        <div class="footer--info--1">
          <div class="footer--info--logo">
            <img src="assets/images/Leonardo_Phoenix_Design_an_emblem_featuring_the_head_of_a_fier_0%201%201.png" alt="">
          </div>
          <div class="footer--info--title">
            Platinum Digital
          </div>
          <div class="footer--info--icons">
            <a href=""><img src="assets/images/footer-inst.png" alt=""></a>
            <a href=""><img src="assets/images/footer-facebook.png" alt=""></a>
            <a href=""><img src="assets/images/footer--telegram.png" alt=""></a>
          </div>
        </div>
        <div class="footer--info--2">
          © 2024, JP Marketing Group. <br>
          All rights reserved. Privacy Policy
        </div>
      </div>
      <div class="footer--action">
        <button>Order your strategy now</button>
      </div>
    </footer>
  </div>
</section>
