<div class="wrapper--home">
  <section class="wrapper--marketing--group--section container">
    <img class="backimgblock1" src="assets/images/back1block.png" alt="">
    <div class="wrapper--marketing--group ">
      <app-header></app-header>
      <div class="marketing--group--second--block">
        <div class="marketing--group--second--block--leftSide">
          <div class="marketing--group--leftSide--title">
            JP Marketing Group is
          </div>
          <div class="marketing--group--leftSide--subtitle">
            your reliable partner in the digital world.
          </div>
          <div class="marketing--group--leftSide--description">
            We will develop a comprehensive <br>
            digital strategy for <br>
            your business in just 4 <br>
            days.
          </div>
          <div class="marketing--group--leftSide--action">
            <button>
              Order your strategy now
            </button>
            <div class="hero_button_line">

            </div>
            <button>
              <img src="assets/images/telegram.png" alt="">
            </button>
          </div>
        </div>
        <div class="marketing--group--second--block--rightSide">
          <div class="hero_card_left">
            <img src="assets/images/logo2.png" alt="">
              <div class="hero_tags">
                <div class="hero_tag-wrap">
                  <div class="hero_tag">Strategy</div>
                </div>
                <div class="hero_tag-wrap">
                  <div class="hero_tag">SEO</div>
                </div>
                <div class="hero_tag-wrap">
                  <div class="hero_tag">SMM</div>
                </div>
                <div class="hero_tag-wrap">
                  <div class="hero_tag">Email</div>
                </div>
                <div class="hero_tag-wrap">
                  <div class="hero_tag">Influencer</div>
                </div>
                <div class="hero_tag-wrap">
                  <div class="hero_tag">Analytic</div>
                </div>
                <div class="hero_tag-wrap">
                  <div class="hero_tag">PPC</div>
                </div>
              </div>
          </div>
          <div class="hero_card_list">
            <div class="hero_card_list--block">
              <h3>Audit</h3>
              <p>We'll develop a detailed growth plan for your business, showing you how to scale results.</p>
              <div class="hero_card_line _01"></div>
            </div>
            <div class="hero_card_list--block">
              <h3>Result</h3>
              <p>We will create a concept and action plan for the consistent implementation of each marketing tool to achieve your business goals.</p>
              <div class="hero_card_line _02"></div>
            </div>
            <div class="hero_card_list--block">
              <h3>Experience</h3>
              <p>We have more than 500 successful cases in various fields of business.</p>
              <div class="hero_card_line _03"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="wrapper--indicators--section">
      <div class="wrapper--indicators container">
        <div class="Indicators--main">
          <div class="Indicators--main--info-title">
            <div class="Indicators--main--info-title--title">
              Indicators in numbers:
            </div>
            <div class="Indicators--main--info-title--subtitle">
              Our results
            </div>
          </div>
          <div class="Indicators--main--info-img">
            <div class="Indicators--main--info-imgBG--block">
              <div class="Indicators--main--info--img--block">
                <div class="Indicators--main--info-img--block--img">
                  <img src="assets/images/indicators1.png" alt="">
                </div>
                <div class="Indicators--main--info-img--block--title">
                  5 years
                </div>
                <div class="Indicators--main--info-img--block--subtitle">
                  in the digital market
                </div>
              </div>
            </div>

            <div class="Indicators--main--info-imgBG--block">
              <div class="Indicators--main--info--img--block">
                <div class="Indicators--main--info-img--block--img">
                  <img src="assets/images/indicators2.png" alt="">
                </div>
                <div class="Indicators--main--info-img--block--title">
                  500 +
                </div>
                <div class="Indicators--main--info-img--block--subtitle">
                  implemented projects
                </div>
              </div>
            </div>

            <div class="Indicators--main--info-imgBG--block">
              <div class="Indicators--main--info--img--block">
                <div class="Indicators--main--info-img--block--img">
                  <img src="assets/images/indicators3.png" alt="">
                </div>
                <div class="Indicators--main--info-img--block--title">
                  $8,2 mln
                </div>
                <div class="Indicators--main--info-img--block--subtitle">
                  advertising campaigns
                </div>
              </div>
            </div>
            <div class="Indicators--main--info-imgBG--block">
              <div class="Indicators--main--info--img--block">
                <div class="Indicators--main--info-img--block--img">
                  <img src="assets/images/indicators4.png" alt="">
                </div>
                <div class="Indicators--main--info-img--block--title">
                  40 +
                </div>
                <div class="Indicators--main--info-img--block--subtitle">
                  experts in the field of marketing
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="wrapper--coperation--section">
    <div class="wrapper--coperation container">
      <div class="coperation--main">
        <div class="coperation--main--title">
          For what purposes we are interested in cooperation:
        </div>
        <div class="coperation--main--info">
          <div class="coperation--block">
            <div class="goals-item_number-wrap">
              Goal 01
            </div>
            <div class="goals-card">
              <div class="goals-card_header">
                <div class="goals-card_heading">
                  <div class="goals-card_heading">
                    <div class="goals-card_dot">
                    </div>
                    <div class="goals-card_title">
                      Bringing new products or directions <br>
                      of your company to the market.
                    </div>
                  </div>
                  <div class="goals-tags--1">
                    <div class="goals-tag-1">
                      <img src="assets/images/goal1_1.png" alt="">
                    </div>
                    <div class="goals-tag-2">
                      <img src="assets/images/goal1_2.png" alt="">
                    </div>
                    <div class="goals-tag-3">
                      <img src="assets/images/goal1_3.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="goals-card_text">
                When you need to quickly attract attention and effectively communicate with potential customers.
              </div>
            </div>
          </div>
          <div class="coperation--block">
            <div class="goals-item_number-wrap">
              Goal 02
            </div>
            <div class="goals-card">
              <div class="goals-card_header">
                <div class="goals-card_heading">
                  <div class="goals-card_heading">
                    <div class="goals-card_dot">
                    </div>
                    <div class="goals-card_title">
                      Optimizing profitability and <br>
                      costs per customer.
                    </div>
                  </div>
                  <div class="goals-tags--2">
                    <div class="goals-tag-1">
                      <img src="assets/images/goalicon.png" alt="">
                    </div>
                    <div class="goals-tag-2">
                      <img src="assets/images/goal1_2.png" alt="">
                    </div>
                    <div class="goals-tag-3">
                      <img src="assets/images/goalicon2.png" alt="">
                    </div>
                    <div class="goals-tag-2">
                      <img src="assets/images/goal1_2.png" alt="">
                    </div>
                    <div class="goals-tag-2">
                      <img src="assets/images/goal1_3.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="goals-card_text">
                If a business is experiencing an off-season, we suggest adapting a strategy to increase profitability to effectively get through the off-season and prepare for in-season growth.
              </div>
            </div>
          </div>
          <div class="coperation--block">
            <div class="goals-item_number-wrap">
              Goal 03
            </div>
            <div class="goals-card">
              <div class="goals-card_header">
                <div class="goals-card_heading">
                  <div class="goals-card_heading">
                    <div class="goals-card_dot">
                    </div>
                    <div class="goals-card_title">
                      Expansion of lead <br>
                      generation channels.
                    </div>
                  </div>
                  <div class="goals-tags--3">
                    <div class="goals-tag-1">
                      <img src="assets/images/goalicon3.png" alt="">
                    </div>
                    <div class="goals-tag-2">
                      <img src="assets/images/goal1_2.png" alt="">
                    </div>
                    <div class="goals-tag-1">
                      <img src="assets/images/goalicon.png" alt="">
                    </div>
                    <div class="goals-tag-2">
                      <img src="assets/images/goal1_2.png" alt="">
                    </div>
                    <div class="goals-tag-3">
                      <img src="assets/images/goalicon4.png" alt="">
                    </div>
                    <div class="goals-tag-2">
                      <img src="assets/images/goal1_2.png" alt="">
                    </div>
                    <div class="goals-tag-2">
                      <img src="assets/images/goal1_3.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="goals-card_text">
                When a business is in season or has under-utilized production and fixed costs are not paying off well, we will help create strategies to increase orders and maximize business potential.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="marketingTools" class="wrapper--marketingTools--section">
    <div class="wrapper--marketingTools container">
      <div class="marketingTools--imgBG ">
        <img src="assets/images/toolsbackgrey.png" alt="">
        <img src="assets/images/toolsbackgrey.png" alt="">
        <img src="assets/images/toolsbackwhite.png" alt="">
        <img src="assets/images/toolsbackwhite.png" alt="">
      </div>
      <div class="marketingTools--main">
        <div class="marketingTools--main--title">
          Marketing tools <br>
          included in the strategy:
        </div>
        <div class="marketingTools--mainBG--block">
          <div class="marketingTools--main--block">
            <div class="marketingTools--main--block--leftSide">
              <div class="marketingTools--leftSide--info">
                <div
                  class="marketingTools--info"
                  *ngFor="let tool of marketingTools"
                  (click)="onSelectTool(tool)"
                  [ngClass]="{'selected': isSelected(tool)}"
                >
                  <div
                    class="marketingTools--info--dot"
                    [ngStyle]="{
                    'background-color': isSelected(tool) ? tool.dotColor : 'transparent'
                  }"
                  ></div>
                  <div
                    class="marketingTools--info--title"
                    [ngStyle]="{
                    'color': isSelected(tool) ? tool.textColor : '#666'
                  }"
                  >
                    {{ tool.title }}
                  </div>
                </div>
              </div>
            </div>
            <div class="marketingTools--main--block--rightSide">
              <div class="marketingTools--rightSide--info">
                <div class="marketingTools--rightSide--info--title">
                  {{ selectedTool.title }}
                </div>
                <div class="marketingTools--rightSide--info--subtitle1"
                     [innerHTML]="selectedTool.subtitle1"
                >

                </div>
                <div class="marketingTools--rightSide--info--subtitle2"
                     [innerHTML]="selectedTool.subtitle2">
                </div>
                <div class="marketingTools--rightSide--info--subtitle3"
                     [innerHTML]="selectedTool.subtitle3">
                </div>
                <div class="marketingTools--rightSide--info--action">
                  <button>+</button>
                  <button>Leave a request</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="marketingTools--mainBG--block--2">
          <div class="marketingTools--main--block">
            <div class="marketingTools--main--block--leftSide">
              <div class="marketingTools--leftSide--info">
                <ng-container *ngFor="let tool of marketingTools; let i = index">
                  <div
                    class="marketingTools--info"
                    (click)="handleOpen(i)"
                    [ngClass]="{'open': isOpen[i]}">
                    <div class="marketingTools--info--main">
                      <div
                        class="marketingTools--info--dot"
                        [ngStyle]="{'background-color': tool.dotColor}"
                      ></div>
                      <div
                        class="marketingTools--info--title"
                        [ngStyle]="{'color': tool.textColor}"
                      >
                        {{ tool.title }}
                      </div>
                    </div>

                    <div *ngIf="isOpen[i]" class="marketingTools--info--details">
                      <div class="marketingTools--info--details--subtitle1"

                           [innerHTML]="tool.subtitle1">
                      </div>
                      <div class="marketingTools--info--details--subtitle2"

                           [innerHTML]="tool.subtitle2">
                      </div>
                      <div class="marketingTools--info--details--subtitle3"

                           [innerHTML]="tool.subtitle3">
                      </div>
                      <div class="marketingTools--rightSide--info--action">
                        <button>+</button>
                        <button>Leave a request</button>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>

  <section class="wrapper--digital--section">
    <div class="wrapper--digital ">
      <div class="digital--main">
        <div class="digital--LeftSide">
          <div class="digital--LeftSide--main">
            <div class="digital--LeftSide--title">
              The digital <br>
              strategy consists <br>
              of:
            </div>
            <div class="digital--LeftSideBG--block">
              <div class="digital--LeftSide--block">
                <p>Ready result for</p>
                <p>{{ workingDays[currentStep] || "= 4 working days" }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="digital--RightSide">
          <div class="digital--RightSide--scroll">
            <div class="digital--scroll">

            </div>
          </div>
          <div class="digital--planList--main">
            <div class="digital--planList--card">
              <div class="digital--planList--card--img">
                <div class="digital--planList--card--img--block">
                  <img src="assets/images/digitalLoop.png" alt="">
                </div>
              </div>
              <div class="digital--planList--card--content">
                <div class="digital--planList--card--content--title">
                  Analysis
                </div>
                <div class="digital--planList--card--content--subtitle">
                  We analyze your business and look for the most <br>
                  effective tools.
                </div>
                <div class="digital--planList--card--content--time">
                  <img src="assets/images/digitalTime.png" alt="">
                  3-6 days
                </div>
                <div class="digital--planList--card--content--plan-mini">
                  <div class="digital--planList--card--content--plan-mini-block">
                    <div class="plan-mini-block--title">
                      Includes:
                    </div>
                    <div class="plan-mini-block--info">
                      <div class="plan-mini-block--info--img">
                        <img src="assets/images/planLine.png" alt="">
                      </div>
                      <div class="plan-mini-block--info--titles">
                        <div>
                          Competitor analysis;
                        </div>
                       <div>
                         Business and marketing efficiency;
                       </div>
                        <div>
                          Site or landing page effectiveness;
                        </div>
                        <div>
                          Business positioning.
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="digital--planList--card">
              <div class="digital--planList--card--img">
                <div class="digital--planList--card--img--block">
                  <img src="assets/images/digitalLight.png" alt="">
                </div>
              </div>
              <div class="digital--planList--card--content">
                <div class="digital--planList--card--content--title">
                  Idea
                </div>
                <div class="digital--planList--card--content--subtitle">
                  We collect audit results, brainstorm and develop <br>
                  ideas and steps to achieve goals.
                </div>
                <div class="digital--planList--card--content--time">
                  <img src="assets/images/digitalTime.png" alt="">
                  2-3 days
                </div>
              </div>
            </div>
            <div class="digital--planList--card">
              <div class="digital--planList--card--img">
                <div class="digital--planList--card--img--block">
                  <img src="assets/images/digitalMap.png" alt="">
                </div>
              </div>
              <div class="digital--planList--card--content">
                <div class="digital--planList--card--content--title">
                  Creating a marketing plan
                </div>
                <div class="digital--planList--card--content--subtitle">
                  We form an action plan and choose channels to <br>
                  achieve results.
                </div>
                <div class="digital--planList--card--content--time">
                  <img src="assets/images/digitalTime.png" alt="">
                  8 hours
                </div>
              </div>
            </div>
            <div class="digital--planList--card">
              <div class="digital--planList--card--img">
                <div class="digital--planList--card--img--block">
                  <img src="assets/images/digitalLight.png" alt="">
                </div>
              </div>
              <div class="digital--planList--card--content">
                <div class="digital--planList--card--content--title">
                  Presentation
                </div>
                <div class="digital--planList--card--content--subtitle">
                  We hold a meeting to discuss how marketing tools will <br>
                  work for your business and what results you can <br>
                  expect.
                </div>
                <div class="digital--planList--card--content--time">
                  <img src="assets/images/digitalTime.png" alt="">
                  6 hours
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="wrapper--partners--section">
    <div class="wrapper--partners container">
      <div class="partners--main">
        <div class="partners--main--title">
          Partners of our digital marketing company in numbers:
        </div>
        <div class="partners--main--info">
          <div class="partners--info--main">
            <div class="partners--infoBG--block">
              <div class="partners--info--block">
                <div class="partners--info--block--title">
                  50+
                </div>
                <div class="partners--info--block--subtitle">
                  strategic partners in the field of digital marketing
                </div>
              </div>
            </div>
            <div class="partners--infoBG--block">
              <div class="partners--info--block">
                <div class="partners--info--block--title">
                  30+
                </div>
                <div class="partners--info--block--subtitle">
                  technological platforms and tools
                </div>
              </div>
            </div>
            <div class="partners--infoBG--block">
              <div class="partners--info--block">
                <div class="partners--info--block--title">
                  20+
                </div>
                <div class="partners--info--block--subtitle">
                  SEO, SMM, and content marketing agencies and consultants
                </div>
              </div>
            </div>
            <div class="partners--infoBG--block">
              <div class="partners--info--block">
                <div class="partners--info--block--title">
                  15+
                </div>
                <div class="partners--info--block--subtitle">
                  leading advertising networks and platforms;
                </div>
              </div>
            </div>
            <div class="partners--infoBG--block">
              <div class="partners--info--block">
                <div class="partners--info--block--title">
                  10+
                </div>
                <div class="partners--info--block--subtitle">
                  international partners in the field of analytics and research.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="partners--main--subtitle">
          We work with the industry's leading players to deliver the best results for your business.
        </div>
      </div>
    </div>
  </section>
  <section class="wrapper--logocompany--section">
    <div class="wrapper--logocompany ">
      <div class="logocompany--first--row">
        <img src="assets/images/company1_1.png" alt="">
        <img src="assets/images/company1_2.png" alt="">
        <img src="assets/images/company1_3.png" alt="">
        <img src="assets/images/company1_4.png" alt="">
        <img src="assets/images/company1_5.png" alt="">
        <img src="assets/images/company1_6.png" alt="">
        <img src="assets/images/company1_7.png" alt="">
        <img src="assets/images/company1_8.png" alt="">
        <img src="assets/images/company1_9.png" alt="">
      </div>
      <div class="logocompany--second--row">
        <img src="assets/images/company2_1.png" alt="">
        <img src="assets/images/company2_2.png" alt="">
        <img src="assets/images/company2_3.png" alt="">
        <img src="assets/images/company2_4.png" alt="">
        <img src="assets/images/company2_5.png" alt="">
        <img src="assets/images/company2_6.png" alt="">
        <img src="assets/images/company2_7.png" alt="">
        <img src="assets/images/company2_8.png" alt="">
      </div>
    </div>
  </section>

  <section id="figures" class="wrapper--figures--section">
    <div class="wrapper--figures container">
      <div class="figures--main--block">
        <div class="figures--main--block--title">
          Figures of our partners
        </div>
        <div class="figures--main--block--panel">
          <div class="figures--main--block--panel--LeftSide">
            <div class="figures--main--block--panel--LeftSide--categories--main">
              <div class="panel--LeftSide--categories">
                <button
                  *ngFor="let category of categories"
                  (click)="filterCards(category.value)"
                  [ngClass]="{'active': activeCategory === category.value}">
                  <img [src]="'assets/images/categories' + (categories.indexOf(category) + 1) + '.svg'" alt="">
                  {{ category.name }}
                </button>

              </div>
              <select class="custom-select" (change)="onCategoryChange($event)">
                <option *ngFor="let category of categories" [value]="category.value">
                  {{ category.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="figures--main--block--panel--RightSide">
            <div class="figures--main--block--panel--RightSide--card--main">
              <div class="figures--RightSide--card" *ngFor="let card of filteredCards | slice:0:visibleCardsCount">
                <div class="cases_card_content">
                  <div class="figures--RightSide--card--logo_name">
                    <div class="figures--RightSide--card--logo--img">
                      <img [src]="card.logo" alt="{{ card.name }}">
                    </div>
                    <div class="figures--RightSide--card--name">
                      {{ card.name }}
                    </div>
                  </div>
                  <div class="figures--RightSide--card--line"></div>
                  <div class="RightSide--card--list">
                    <div class="figures--RightSide--card--term_termQuantity" *ngIf="card.term || card.termQuantity">
                      <div class="figures--RightSide--card--term">
                        {{ card.term }}
                      </div>
                      <div class="figures--RightSide--card--termQuantity">
                        {{ card.termQuantity }}
                      </div>
                    </div>
                    <div class="figures--RightSide--card--budget_price" *ngIf="card.budget || card.price">
                      <div class="figures--RightSide--card--budget">
                        {{ card.budget }}
                      </div>
                      <div class="figures--RightSide--card--price">
                        {{ card.price }}
                      </div>
                    </div>
                    <div class="figures--RightSide--card--sales_sales--quantity" *ngIf="card.sales || card.salesQuantity">
                      <div class="figures--RightSide--card--sales">
                        {{ card.sales }}
                      </div>
                      <div class="figures--RightSide--card--sales--quantity">
                        {{ card.salesQuantity }}
                      </div>
                    </div>
                    <div class="figures--RightSide--card--sellingPrice--sellingPriceQuantity" *ngIf="card.sellingPrice || card.sellingPriceQuantity">
                      <div class="figures--RightSide--card--sellingPrice">
                        {{ card.sellingPrice }}
                      </div>
                      <div class="figures--RightSide--card--sellingPriceQuantity">
                        {{ card.sellingPriceQuantity }}
                      </div>
                    </div>
                    <div class="figures--RightSide--card--saleAmount_salesAmountQuantity" *ngIf="card.saleAmount || card.salesAmountQuantity">
                      <div class="figures--RightSide--card--saleAmount">
                        {{ card.saleAmount }}
                      </div>
                      <div class="figures--RightSide--card--salesAmountQuantity">
                        {{ card.salesAmountQuantity }}
                      </div>
                    </div>
                    <div class="figures--RightSide--card--Leads_LeadsQuantity" *ngIf="card.leads || card.leadsQuantity">
                      <div class="figures--RightSide--card--Leads">
                        {{ card.leads }}
                      </div>
                      <div class="figures--RightSide--card--LeadsQuantity">
                        {{ card.leadsQuantity }}
                      </div>
                    </div>
                    <div class="figures--RightSide--card--roas_roas--quantity" *ngIf="card.roas || card.roasQuantity">
                      <div class="figures--RightSide--card--roas">
                        {{ card.roas }}
                      </div>
                      <div class="figures--RightSide--card--roas--quantity">
                        {{ card.roasQuantity }}
                      </div>
                    </div>
                    <div class="figures--RightSide--card--poac_poac--quantity" *ngIf="card.poac || card.poacQuantity">
                      <div class="figures--RightSide--card--poac">
                        {{ card.poac }}
                      </div>
                      <div class="figures--RightSide--card--poac--quantity">
                        {{ card.poacQuantity }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="figures--RightSide--card--action">
                  <button>Google Ads</button>
                </div>
              </div>

            </div>
            <div class="figures--RightSide--card--actionShow">
              <button *ngIf="visibleCardsCount < filteredCards.length" (click)="showMore()">I want to see more</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="wrapper--finish--section">
    <div class="wrapper--finish">
      <div class="finish--main container">
        <div class="finish--main--leftSide">
          <div class="finish--main--leftSide--info">
            <div class="finish--main--leftSide--title">
              Finish the drain, fill <br>
              up the small form and <br>
              remove your strategy!
            </div>
            <div class="finish--main--leftSide--subtitle">
              Filling time - 3 minutes
            </div>
          </div>
          <div class="finish--main--leftSide--action">
            <button>
              Get the strategy
            </button>
          </div>
        </div>
        <div class="finish--main--rightSide">
          <img src="assets/images/finish.png" alt="">
        </div>
      </div>
    </div>
  </section>

  <section class="wrapper--approach--section">
    <div class="wrapper--approach container--2">
      <div class="approach--main">
        <div class="approach--main--title">
          Our approach <br>
          to work
        </div>
        <div class="approach--main--block">
          <div class="approach--main--block--card">
            <div class="approach--main--block--card--info">
              <div class="approach--main--block--card--info--title">
                Focus on <br>
                details
              </div>
              <div class="approach--main--block--card--info--subtitle">
                Maximum
              </div>
            </div>
            <div class="approach--main--block--card--description">
              Achieving super results
            </div>
          </div>
          <div class="approach--main--block--card">
            <div class="approach--main--block--card--info">
              <div class="approach--main--block--card--info--title">
                Focus on <br>
                details
              </div>
              <div class="approach--main--block--card--info--subtitle">
                Maximum
              </div>
            </div>
            <div class="approach--main--block--card--description">
              Achieving super results
            </div>
          </div>
          <div class="approach--main--block--card">
            <div class="approach--main--block--card--info">
              <div class="approach--main--block--card--info--title">
                Focus on <br>
                details
              </div>
              <div class="approach--main--block--card--info--subtitle">
                Maximum
              </div>
            </div>
            <div class="approach--main--block--card--description">
              Achieving super results
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="wrapper--growth--section">
    <div class="wrapper--growth container">
      <div class="growth--main">
        Growth
      </div>
    </div>
  </section>
  <section class="wrapper--borderline--section">
    <div class="wrapper--borderline">
      <div class="borderline--main">

      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>


